*{
    margin:0 auto;
    padding:0;
    list-style:none;
    text-decoration:none;
}
.index-body{
 width:87%;
 height:590px;
 border:4px solid rgb(238, 230, 230);
 background:linear-gradient(90deg,rgb(187, 66, 84),rgb(90, 11, 24));
 border-radius:9px;
}
.index-h1{
    text-align:center;
    color:white;
}
.index-main{
    width:90%;
    height:370px;
    
 
 
}
.index-main-row{
    height:100px;
    width:100%;
    display:flex;
    
}
.index-row-img{
    border:3px solid rgb(236, 231, 231);
    width: 80px;
    height:100px ;
    background-size:contain;
    border-radius:9px;
  
}
.index-adivina-container{
    display:block;
    

}

.index-random-button{
    color:white;
    font-weight: bolder;
    width:100%;
    
    padding:7px;
    padding-left:30px;
    padding-right:30px;
    border-radius:9%;
    background-color:rgb(20, 102, 20);
    box-shadow:9px 9px 9px 1px rgb(46, 5, 12);

}
.index-random-button:active{
    box-shadow:2px 2px 3px 0px rgb(46, 5, 12);
    background-color:yellow;
}
.index-random-button:hover{
   background-color:rgb(23, 202, 23);
}
.index-main-img-adivina{
    height: 100px;
    width:100px;
    border:3px solid rgb(241, 231, 231);
}
.tapa{
    width:100%;
    height: 100%;
    background-color: violet;
}